body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.paper {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-block-end: 20px;
  padding: 20px;
  background: lightgoldenrodyellow;
  border: 1px solid lightcoral;
  border-radius: 10px;
}